.container {
    /* color: red; */
    /* background: yellow; */
    /* width: 50%; */
}

.container .row {
    display: flex;
    /* border: 1px solid green; */
    /* justify-content: space-evenly; */
}

.container .row > div {
    /* display: flex; */
    /* flex: 0.3; */
    width: 300px;
    height: 70px;
    /* white-space: nowrap;  */
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid black;
    /* color: blue; */
    padding: 10px;
}